<mat-drawer-container
        [autosize]="true"
        class="min-h-full max-w-7xl mx-auto border-x"
>
    <mat-drawer [mode]="sidenavMode" [opened]="sidenavOpened" class="p-6">
        <app-categories (showCategory)="onShowCategory($event)"></app-categories>
    </mat-drawer>
    <mat-drawer-content class="p-6" *ngIf="dataSource">
        <mat-card class="mb-4">
            <div class="flex justify-between">
                <div id="breadcrumbs" class="flex items-center">
                    <a href="{{ path.listPagePath(1, null) }}">Szalvéták</a>
                    <a *ngFor="let pathItem of categoryPath"
                       href="{{ path.listPagePath(1, pathItem.id) }}">{{ pathItem.name }}</a>
                </div>
            </div>
        </mat-card>
        <mat-grid-list
                gutterSize="16"
                [cols]="cols"
                rowHeight="5:8"
        >
            <ng-container
                    *ngFor="let collectible of dataSource">
            <mat-grid-tile>
                <app-product-box
                        class="w-full"
                        [collectible]="collectible"
                        [categoryId]="categoryId"
                        [fullWidthMode]="cols === 1"
                ></app-product-box>
            </mat-grid-tile>
            </ng-container>
        </mat-grid-list>

        <app-pagination
                *ngIf="collectibles"
                [currentPage]="page"
                [maxPage]="collectibles.max_page"
                [categoryId]="categoryId"
        ></app-pagination>

    </mat-drawer-content>
</mat-drawer-container>
