<mat-nav-list *ngIf="categories?.items?.length">
    <div class="p-3 divide-y divide-solid">
        <div class="py-3">
            <div class="font-bold">Kategóriák</div>
            <mat-divider></mat-divider>
            <div class="mat-list-item"
                 *ngFor="let category of dataSource">
                <a href="category.id">
                    {{ category.name }}
                    <span class="font-light">({{ category.collectibles_count }})</span>
                </a>
            </div>
        </div>
    </div>
</mat-nav-list>
